<p id="notice"><%= notice %></p>

<p>
  <h1 style="display: inline-block">Album:</h1>
  <h1 style="display: inline-block"><%= @project.title %></h1>
</p>

<div>
    <% @project.pictures.each do |picture| %>
    <div style="display: inline-block; margin-right: 25px; border: 2px solid black; padding:10px">
	   <%= image_tag picture.image.url %>
	   <p style="margin: 10px 0px 0px"><%= picture.lat %>, -<%= picture.long %> </p> 
    </div>
    <% end %>
</div>

<div style="margin: 15px">
<a class="btn btn-primary" href="<%= 
  s3 = Aws::S3::Resource.new
  obj = s3.bucket(ENV['S3_BUCKET']).object("uploads/" + "#{@project.id}/" + "doc.kml")
  obj.presigned_url(:get, expires_in: 3600, response_content_disposition: "attachment; filename=#{@project.id}.kml") %>" download>Download KML</a>
  
<a class="btn btn-primary" href="<%= 
  s3 = Aws::S3::Resource.new
  obj = s3.bucket(ENV['S3_BUCKET']).object("uploads/kmz_directory/" + "#{@project.id}.kmz")
  obj.presigned_url(:get, expires_in: 3600, response_content_disposition: "attachment; filename=#{@project.id}.kmz") %>" download>Download KMZ</a>
</div>

<div>
<%= link_to 'Edit Album', edit_project_path(@project), class: "link"%> |
<%= link_to 'New Album', new_project_path, class: "link"%> 
</div>