<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<div>
    <% @project.pictures.each do |picture| %>
    <div style="display: inline-block; margin-right: 25px; border: 2px solid black; padding:10px">
	   <%= image_tag picture.image.url, size:200 %>
	   <p>Latitude:  <%= picture.lat %> </p>
	   <p>Longitude: -<%= picture.long %> </p> 
    </div>
    <% end %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> 

<a href="<%= 
  s3 = Aws::S3::Resource.new
  obj = s3.bucket(ENV['S3_BUCKET']).object("uploads/" + "#{@project.id}/" + "doc.kml")
  obj.presigned_url(:get, expires_in: 3600, response_content_disposition: "attachment; filename=#{@project.id}.kml") %>" download>Download KML</a>
  
<a href="<%= 
  s3 = Aws::S3::Resource.new
  obj = s3.bucket(ENV['S3_BUCKET']).object("uploads/kmz_directory/" + "#{@project.id}.kmz")
  obj.presigned_url(:get, expires_in: 3600, response_content_disposition: "attachment; filename=#{@project.id}.kmz") %>" download>Download KMZ</a>

<%= link_to 'Back', projects_path %>